*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #22092C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #872341;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.main h2{
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-30%,-50%);
    font-size: 2rem;
}

.main .btn{
    position: absolute;
    top: 60%;
    left: 54%;
    transform: translate(-60%,-60%);
}

.main .btn button{
    border: none;
    font-size: 5rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    filter: grayscale();
    padding: 15px;
    transition: transform 0.2s ease, filter 0.2s ease;

}

.main .btn button:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

.main .btn span{
   position: absolute;
   top: 80%;
   left: 30%;
   margin-top: 10px;
   font-size: large;
   color: green;
   opacity: 0;
}



